<div class="card" style="width: 18rem;">
        <a href="" >
            <div class="card-image"  style="overflow: hidden;">
            <img class="" src="<%= image %>" style="object-fit: cover;" />
            </div>
            <div class="box">
                <div style="display: flex;justify-content: space-between;">
                    <h4>this is title</h4>
                    <h4>20.0£</h4>
                </div>
                <p>
                    this is description ...
                </p>
                <span style="font-size: 16;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <span class="note"> (4.6)</span>
                </span>
                <p class="details" >Afficher les details</p>
        </div>
    </a>
</div>