<footer class="footer">
    <div class="contact">
        <img src="https://th.bing.com/th/id/OIP.XgT9d552B6R9C60Ul2yqkAHaHa?w=194&h=194&c=7&r=0&o=5&dpr=1.1&pid=1.7" />
        <img src="https://th.bing.com/th/id/OIP._KJrMbjIeojVfnxCGXn9EAAAAA?pid=ImgDet&w=441&h=450&rs=1" />
        <img src="https://th.bing.com/th/id/R.6de2b97bcc24e8517c80d800661a92ac?rik=2Duwlf53hIW%2bhw&riu=http%3a%2f%2ftous-logos.com%2fwp-content%2fuploads%2f2017%2f08%2fSnapchat-Logo.png&ehk=M3UMd8pavs3ucC473o8kriWbyYAFWCfjiwfhhXxDioo%3d&risl=&pid=ImgRaw&r=0" />
        <div></div>
        <img src="https://th.bing.com/th/id/OIP.T6F6Vja5ue4BhRs81wWlywHaHa?w=173&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" />
    </div>
    <div class="privacy">
        <div>
            © 2023
        </div>
        <div>
            Privacy & Cookies | Ts&Cs | Accessibility
        </div>
    </div>
</footer>