
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Gérant</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="bi  bi-list-nested"></i> Commandes
          </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-bag-dash"></i> Vests
            </a>
          </li>
          <li>
            <a href="#">
                <i class="bi  bi-bag-dash"></i> pantalons
            </a>
          </li>
        <li>
          <a href="#">
            <i class="bi  bi-people"></i> Users
          </a>
        </li>
 
      </ul>
      <div class="logout">
        <a href="#">
            <i class="bi bi-box-arrow-right"></i> Déconnexion
        </a>
    </div>
    </div>
