
    <!-- Sidebar -->
    <div id="sidebar">
      <div>
      <header>
        <a href="#">Gérant</a>
      </header>
      <ul class="nav">
        <li>
          <a href="/">
            <i class="bi  bi-house"></i> Acceille
          </a>
        </li>
        <li>
          <a href="/gerant/commandes">
            <i class="bi  bi-list-nested"></i> Commandes
          </a>
        </li>
        <li>
            <a href="/gerant/produits">
                <i class="bi bi-bag-dash"></i> produits
            </a>
          </li>
          <li>
            <a href="/gerant/accessoires">
                <i class="bi bi-bag-dash"></i> accessoires
            </a>
          </li>
        <li>
          <a href="/gerant/utilisateurs">
            <i class="bi  bi-people"></i> Utilisateurs
          </a>
        </li>
        <li>
          <a href="/gerant/combinaisons">
            <i class="bi  bi-people"></i> Comibinaisons
          </a>
        </li>
 
      </ul>
    </div>
      <div class="logout">
        <a href="/logout">
            <i class="bi bi-box-arrow-right"></i> Déconnexion
        </a>
     </div>
    </div>
