<div class="nav-small-screen">
    <!-- ======= Navbar ======= -->
      <%- include("components/navGerant") %>
    <!-- ======= End navbar ======= -->
  </div>
  <div id="viewport">
    <!-- ======= Navbar ======= -->
    <%- include("components/sidebar") %>
    <!-- ======= End navbar ======= -->
    <!-- Content -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">L'atelier de la Mode</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">

        
      </div>
    </div>
  </div>
