body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.bag-empty {
    width: 450px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bag-empty i {
    font-size: 30px;
    font-weight: bold;
}
.bag-empty h1 {
    margin-top: 30px;
    font-size: 1.3rem;
    color: #2d2d2d;
    font-weight: bold;
}
.bag-empty p {
    margin-top: 15px;
    font-size: 1rem;
    color: #2d2d2d;
    font-weight: normal;  
}

.bag {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding-top: 90px;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.products-bag {
    width: 600px;
    background-color: #FFF;
    border: 1px solid #eee;
}

.item-product {
    display:  flex;
    justify-content: start;
    padding: 20px 0px;
    margin: 0 30px;
    border-bottom: 0.5px solid #22222222;
    position: relative;
}

.item-product img {
    width: 110px;
    height: 150px;
    object-fit:  cover;
    margin-right: 20px;
    border-radius: 0.2rem;
    cursor: pointer;

}
.item-product .btn-close {
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 0.8rem;
}

.item-product-info  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.item-product h1 {
    color: #2d2d2d;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1.1px;
}
.item-product h2{
    color: #2d2d2dCC;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent line breaks within the paragraph */
    text-overflow: ellipsis; /* Replace overflowing text with ellipsis (...) */
}

.item-product .update {
    display:  flex;
}
.item-product .update select {
    width: 80px;
    padding:0 10px;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    font-size: 0.8rem;
    color: #2d2d2d;
}
.item-product .update select:nth-of-type(1) {
    border-left: none;
    padding-left: 0;
}
.item-product .update select:last-of-type{
    border-right: none;
}

.item-product .save {
    margin-top: 15px;
    padding: 5px 10px;
    border: 1px solid #2d2d2d22;
    width: 140px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.2rem;

}

.item-product .save i {
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px;
}

.info-bag {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 30px;
    margin-left: 15px;
    max-height: 650px
}

.info-bag h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2d2d2d;
    margin-bottom: 20px;
}

.info-bag .sub-total {
    display: flex;
    justify-content: space-between;

    
}
.info-bag .sub-total:nth-of-type(1) {
    border-top: 0.2px solid #2d2d2d22;
    padding-bottom: 15px;
    padding-top: 20px;
    
}

.info-bag .sub-total  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #2d2d2d;
}
.info-bag .sub-total  span {
    font-size: 1.1rem;
    font-weight: 500;
    color: #2d2d2d;
}

.info-bag .input-container {
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom :1px solid #2d2d2d44;
    margin: 12.5px 0;
}


.info-bag input{
    font-size: 0.8rem;
    font-weight: normal;
    color: #2d2d2d;
    background-color: #FFF;
    height: 40px;
    width: 280px;
    border: none;

    outline: none;
    padding: 0 10px;
}

.info-bag .icon-input {

    right: 5px;
    top: 50%;
}

.info-bag .finaliser {
    background-color: #51e2f5;
    cursor: pointer;
    color: #FFF;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-top: 20px;
}
.info-bag .finaliser:hover {
    background-color: #FFF;
    color: #51e2f5;
    border: 1px solid #51e2f5;
}

@media (max-width : 1050px)  { 

    .bag{

        overflow-x: hidden;
        padding: 0;
    }
    .products-bag {
        width: 500px;    
    }

}

@media (max-width : 950px)  { 
    .bag {
        display: block;
        padding: 10px 20px;
        padding-top: 80px;
        padding-bottom: 40px;
        overflow-x: hidden;
        width: 99%;
    }
    .products-bag {
        margin: auto;
        width: 100%;
      
    }
    .info-bag {
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    .info-bag  input {
        width: 95%;
    }
}

@media (max-width : 550px)  { 
    .bag{
        padding: 0%;
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .item-product {
        margin: 0 10px;
    }
    .item-product img {
        width: 100px;
        height: 140px;
    }
    .item-product h1 {
        font-size: 1rem;
    }
    .item-product h2 {
        font-size: 0.8rem;
    }
    .item-product select{
        font-size: 0.8rem;
    }
    .item-product .btn-close  {
        top: 10px;
    }
}