body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eee;
}

.list-group-item.cardFilter {
    background-color: #FFF;  
    padding: 15px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 30px;
    cursor: pointer;
}

.list-group-item.cardFilter:hover{
    border : 2px solid #51e2f5;
}



.list-group-item.cardFilter.pennding {
    border-top: 4px solid #f29a62;
}

.list-group-item.cardFilter.done {
    border-top: 4px solid #56e164;
}

.list-group-item.cardFilter.canceld {
    border-top: 4px solid #fa5959;
}


.cardFilter div {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    width: 120px;
   }

.filter {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cardFilter h1 {
    font-size: 1rem;
    color: #2d2d2d;
    font-weight: normal;
}
.cardFilter h2 {
    font-size: 0.9rem;
    color: #2d2d2d;
    font-weight: normal;
}

li {
    background-color: none;
}


.cardFilter img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.bag-empty {
    width: 450px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bag-empty i {
    font-size: 30px;
    font-weight: bold;
}
.bag-empty h1 {
    margin-top: 30px;
    font-size: 1.3rem;
    color: #2d2d2d;
    font-weight: bold;
}
.bag-empty p {
    margin-top: 15px;
    font-size: 1rem;
    color: #2d2d2d;
    font-weight: normal;  
}

.bag {
    display: flex;
    justify-content: center;
    background-color: #red;
    padding-top: 20px;
    overflow-x: hidden;
    padding-bottom: 30px;

}


.commandes-bag {
    width: 600px;
    background-color: #FFF;
    border: 1px solid #eee;
    border-top:  4px solid #f29a62;
}

.item-commande {
    display:  flex;
    justify-content: start;
    padding: 20px 0px;
    align-items: start;
    margin: 0 30px;
    border-bottom: 0.5px solid #22222222;
    position: relative;
}
.item-commande .info {
    display:  flex;
    justify-content: space-between;
}
.item-commande img {
    width: 110px;
    height: 110px;
    object-fit:  cover;
    margin-right: 20px;
    border-radius: 100%;
    cursor: pointer;

}
.item-commande .btn-close {
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 0.8rem;
}

.item-commande-info  {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.item-commande h1 {
    color: #2d2d2d;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1.1px;
}
.item-commande h2{
    color: #2d2d2dCC;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2px;
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent line breaks within the paragraph */
    text-overflow: ellipsis; /* Replace overflowing text with ellipsis (...) */
}
.item-commande h3{
    color: #2d2d2dCC;
    font-size: 0.8rem;
    font-weight: 500;
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent line breaks within the paragraph */
    text-overflow: ellipsis; /* Replace overflowing text with ellipsis (...) */
}
.item-commande h3 span {
    margin-left: 5px;
}

.item-commande .update {
    display:  flex;
    margin-top: 20px;
}
a {
    text-decoration: none; /* remove underline */
    color: inherit; /* inherit color from parent */
    cursor: pointer; /* change cursor to pointer on hover */
  }

.item-commande .save {
    margin-right: 20px;
    padding: 5px 10px;
    border: 1px solid #2d2d2d22;
    width: 140px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}


.item-commande .save.done{
    border: 2px solid #56e164;
    color: #56e164;
}
.item-commande .save.cancel {
    border: 2px solid salmon;
    color: salmon;
}

.item-commande .save.done:hover  {
    background-color: #56e164;
    color: #FFF;
}

.item-commande .save.cancel:hover  {
    background-color: salmon;
    color: #FFF;
}

.item-commande .save i {
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px;
}



.info-bag {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 30px;
    margin-left: 15px;
    max-height: 650px
}

.info-bag h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2d2d2d;
    margin-bottom: 20px;
}

.info-bag .sub-total {
    display: flex;
    justify-content: space-between;

    
}
.info-bag .sub-total:nth-of-type(1) {
    border-top: 0.2px solid #2d2d2d22;
    padding-bottom: 15px;
    padding-top: 20px;
    
}

.info-bag .sub-total  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #2d2d2d;
}
.info-bag .sub-total  span {
    font-size: 1.1rem;
    font-weight: 500;
    color: #2d2d2d;
}

.info-bag .input-container {
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom :1px solid #2d2d2d44;
    margin: 12.5px 0;
}


.info-bag input{
    font-size: 1rem;
    font-weight: normal;
    color: #2d2d2d;
    background-color: #FFF;
    height: 40px;
    width: 280px;
    border: none;

    outline: none;
    padding: 0 10px;
}
.info-bag input:disabled {
    color: #00000099;
}

.info-bag .icon-input {

    right: 5px;
    top: 50%;
}

.info-bag .finaliser {
    background-color: #51e2f5;
    cursor: pointer;
    color: #FFF;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-top: 20px;
}
.info-bag .finaliser:hover {
    background-color: #FFF;
    color: #51e2f5;
    border: 1px solid #51e2f5;
}

@media (max-width : 1050px)  { 

    .list-group-item.cardFilter {
        margin: 20px 10px;
    }

    .bag{
        overflow-x: hidden;
        padding: 0;
    }
    .commandes-bag {
        width: 500px;    
    }

}

@media (max-width : 950px)  { 


    .bag {
        display: block;
        padding: 10px 20px;
        padding-bottom: 40px;
        overflow-x: hidden;
        width: 99%;
    }
    .commandes-bag {
        margin: auto;
        width: 100%;
      
    }
    .info-bag {
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    .info-bag  input {
        width: 95%;
    }
}

@media (max-width : 550px)  { 
    .bag{
        padding: 0%;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .item-commande {
        margin: 0 10px;
    }
    .item-commande img {
        width: 110px;
        height: 110px;
    }
    .item-commande h1 {
        font-size: 1rem;
    }
    .item-commande h2 {
        font-size: 0.8rem;
    }
    .item-commande select{
        font-size: 0.8rem;
    }
    .item-commande .btn-close  {
        top: 10px;
    }
}