
body{
  overflow-x: hidden;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #5f5950;
  border-radius: 0.1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #1ecde4;
}

/*--------------------------------------------------------------
#trending Section
--------------------------------------------------------------*/
.trendingBrandsContainer {
    width: 100%;
    margin-top: 60px;
  }
  
  .trendingBrandsContainer .title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    color: #000;
  }
  
  .trendingBrandsContainer .trendingBrands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
  }
  
  .trendingBrandsContainer .trendingBrands  img {
    width: auto;
    height: 200px;
    margin: 10px 30px;
  
  }
  
/*--------------------------------------------------------------
#footer Section
--------------------------------------------------------------*/
  
  .footer {

    width: 100%;

  }
  
  .footer .contact {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #00000044;
  }
  
  .footer .contact div {
    margin: 5px 2rem;
    height: 30px;
    width: 2px;
    background-color: #00000055;
  }
  .footer .contact img {
    width: 30px;
    height: 30px;
    margin: 5px 1.5rem;
    cursor: pointer;
  }
  
  .footer .privacy {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    font-size: 0.8rem;
    color: #000;
    font-weight: 400;
    background-color: #eee;
  }

  /*--------------------------------------------------------------
#navbar Section
--------------------------------------------------------------*/

nav {
  position: sticky;
  top: 0;
  background-color: #eee;
  margin-bottom: 50px;
  padding: 10px 20px;

}

@media (min-width : 1000px) {
  .navbar-collapse {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  
}

  /*--------------------------------------------------------------
#title Section
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 60px;
}
.section-title .title {

  font-size: 1.6rem;
  font-weight: bold;
  color: #2d2d2d;
}

.section-title .descr {
  font-size: 0.8rem;
  font-weight: 400;
  color: #2d2d2d;
}
@media (min-width : 720px) {
  .section-title {
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 60px;
  }
}
